<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GeekAssistant.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <GeekAssistant.My.MySettings>
            <setting name="info_MsgTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="PopupMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppMode_dontshow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceManufacturer" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceAPILevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeviceBootloaderUnlockSupported" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceCustomROM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceCustomRecovery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToU_dontShow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppMode_newbie" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="info_Msg" serializeAs="String">
                <value />
            </setting>
            <setting name="info_MsgLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ErrorCode" serializeAs="String">
                <value />
            </setting>
            <setting name="AppMode_moderate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerboseLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowToolTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VerboseLoggingPrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoClearLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeviceSerial" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProgress" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceState" serializeAs="String">
                <value />
            </setting>
            <setting name="PerformAnimations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeviceRooted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceBatteryLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeviceBootloaderUnlocked" serializeAs="String">
                <value>False</value>
            </setting>
        </GeekAssistant.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MoreLinq" publicKeyToken="384d532d7e88985d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.18916.0" newVersion="1.4.18916.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
